 @charset "UTF-8";
/* CSS Document */


/* ------------------------ GENERAL LAYOUT STYLES ----------------------- */


.carousel-caption{
    font-family: 'Permanent Marker', cursive;
    /*font-family: 'Ewert', cursive;*/
    padding-bottom: 350px;
    
}
.carousel-caption .h1{
    font-size: 50px;
    text-transform: uppercase;
    animation-delay: 1s;
}
.carousel-caption p{
    font-size: 25px;
    animation-delay: 2s;
    
}
